*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
@font-face {
  font-family: open-sans-regular;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: bold;
}
a {
  text-decoration: none;
}
body {
  font-family: open-sans-regular, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  min-width: 1200px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.header-wrapper {
   max-width: 1200px;
   margin: auto;
}

._hidden {
  display: none;
}

.p-feedback {
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index:8;
}

.p-feedback-top{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height:1.3;
}

.p-feedback-top::after{
  content:"";
  display: flex;
  position: relative;
  background-color:#b59f5b;
  width: 66px;
  height: 3px;
  margin-top: 14px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.p-feedback-container {
  display: flex;
  flex-direction: column;
  max-width:390px;
  width:95%;
  min-height: 590px;
  margin: auto;
  position: relative;
  background-color: #ffffff;
  padding: 60px 20px 55px 25px; 
}
.p-feedback-select{
 border: none;
 color: grey;
 background-color: #f3f6f4;
 display: block;
 font-family: inherit;
 width: 330px;
 height: 30px;
 margin: 0;
 -webkit-appearance: none;
 -moz-appearance: none;
 background-image: url(svg/form-arrows.svg);
 background-size: 3%  ;
 background-repeat: no-repeat;
 background-position: right 5px  center;
 margin-bottom: 30px;
}
.p-feedback-radio-group-text {
  margin-right: 8px;
}

.radio {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.radio:not(:checked) + .p-feedback-radio-group-text:before {
  background-image: url(../svg/form-empty-circle.svg)
}

.radio:checked + .p-feedback-radio-group-text:before {
  background-image: url(../svg/form-circle.svg);
}

.p-feedback-form-radio {
  margin-bottom: 40px;
}

.p-feedback-radio-label{
display: flex;
}

.p-feedback-field-opinion {
height: 150px;
width: 340px;
border: none;
display: flex;
background-color: #f3f6f4;
text-align: start;
}

.p-feedback-button{
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color:#b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 13px;
  align-self: flex-end;
  cursor: pointer;
}

.popup-close {
  width: 1.4em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color:transparent;
  border: none;
   background-image: url("../svg/form-x.svg");
   background-repeat: no-repeat;
}

.header {
  padding: 28px 248px 124px;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index:0;
  padding: 30px 0;
  margin-bottom:60px;
  }

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000000;
  opacity: 0.6;
  z-index:-1;
}

.menu, .logo-link {
  display:flex;
  justify-content:space-between;
  align-items:center;
 }

.header-menu {
  margin:0;
  box-sizing: border-box;
}

.menu-list {
  list-style: none;
  display:flex;
  align-items:center;
}

.menu-list-item:not(:first-child) {
margin-left: 20px;  
}

.menu a {
   text-decoration: none;
   color: #ffffff;
   font-size: 13px;
   text-transform: uppercase;
  }

.welcome-title {
  font-family: open-sans-bold, sans-serif;
  font-size: 45px;
  line-height:1.6;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  max-width:700px;
  margin: auto;
  padding:128px 0;
}

.now-trands {
  width: 100%;
}
.trands-top {
  text-align: center;
  margin: 64px auto 5px auto;
  font-size: 20px;
  font-family: osbold, sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}
.trands-top::after {
  content: " ";
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 10px auto 25px auto;
  border-bottom: 3px solid #e1d9bd;
}
.trands {
 width: 100%;
 margin-top: 30px;
  display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 flex-wrap: nowrap;}

.trand {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040a04;
  position: relative;
  z-index: 0;
}
.trand:not(:last-child) {
  margin-right: 5px;
}
.trand:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}
.trand-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trand-text {
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 37px 33px;
  position: absolute;
  bottom: 17px;
  margin: auto 24px;
  z-index: 2;
}
.category {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
}
.category-item:not(:last-child) {
  margin-right: 18px;
}
.category-link {
  text-decoration: none;
  font-size: 14px;
  font-family: osbold, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}

.trand-link {
  font-family: osbold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
}
.trand-link:hover {
  color: #b59f5b;
  cursor: pointer;
}
.page {
  margin-top:60px;
}

.page-wrapper {
  width:1200px;
  margin:auto;
  padding:0 15px;
  display:flex;
  justify-content: space-between;
}


.trends {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.trend {
  width: 24.8%;
}
.trend:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 3px;
  }

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000000;
  opacity: 0.6;
  z-index:-1;
}

.trend {
  height:320px;
  background-color: #00f000;
  position: relative;
  z-index:0;
  }

.trend-tag {
  list-style: none;
  padding:0;
  margin-bottom:15px;
  display:flex;
}

.trend-tag-item {
  margin-right:20px;
}

.trend-tag-link{
  text-decoration: none;
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.trend-link {
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height:1.2;
  margin-bottom:37px;
}

.trend-text {
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 36px 32px;
  align-items: flex-end;
}

.main {
  width: 778px;
}

.news:not(:first-child) {
  margin-top: 60px;
}

.news-img, .new-img {
  display: block;
}

.news-tag {
  list-style: none;
  padding:0;
  margin-bottom:15px;
  display:flex;
}

.news-tag-item {
  margin-right:20px;
}

.news-tag-link {
   text-decoration: none;
   font-family: open-sans-bold, sans-serif;
   text-transform: uppercase;
   color: #b59f5b;
   font-size: 14px;
}

a{
  text-decoration: none;
  color:#0f0d0e;
}

.news-name {
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height:1.2;
  margin-bottom:37px;
}

.date {
  color: #888888;
  font-size: 12px;
  margin-right: 10px;
}

.author {
   font-family: open-sans-bold, sans-serif;
   color: #000000;
   font-size: 12px;
}

.about {
  margin-top:50px;
}

.about > p {
  font-size: 15px;
  line-height:1.5;
  margin:0;
}

.about > p:not(:first-child) {
  margin-top:20px;
}

.news-text {
  margin-left:30px;
}

.news, .new {
  display: flex;
}

.new-name {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height:1.3;
}

.aside-item:not(:first-child) {
  margin-top:60px;
}

.aside {
  width: 270px;
}

.top {
  text-align: center;
  margin-bottom: 0px;
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height:1.3;
}

.top::after {
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background:#b59f5b;
}

.new-text a {
  text-decoration: none;
  color:#000000;
}

.new-text .date {
  font-size: 12px;
  text-decoration: none;
  color:#000000;
  opacity: 0.54;
}

.new-text {
  margin-left:18px;
}

.new {
  margin-top:20px;
}

.search {
  margin-top:60px;
  display:flex;
  width:100%;
}

 .hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

 .search-button {
  border: none;
  width: 47px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color:#b59f5b;
  cursor: pointer;
}

.search-field {  
  box-sizing: border-box;
  padding-left: 18px;
  width: 222px;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color:#f4f7f6;
}

 .mailing-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color:#b59f5b;
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 13px;
  cursor: pointer;
  }

.mailing-field {  
  box-sizing: border-box;
  padding-left: 18px;
  margin-top: 23px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color:#f4f7f6;
}

.list-tags {
  list-style:none;
  display:flex;
  flex-wrap:wrap;
}
.list-tags-link {
  height: 29px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 7px 11px;
}

.list-tags-item {
  margin-top: 26px;
  margin-left: 3px;
  margin-right: 3px;
}

.list-theme {
  list-style:none;
}
.list-theme-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-bold, sans-serif;
  color: #000000;
  font-size: 14px;
  padding:0 5px 0 0;
}

.list-theme-item {
  margin-top: 14px;
  margin-left: 3px;
}

.list-theme-item::after {
  content:"";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background:#eeeeee;
}

.list-theme-count {
  display: inline-block;
  vertical-align: top;
  color:#b59f5b;
  font-family: open-sans-bold, sans-serif;
  font-size: 12px;
}
.shop-block {
    width: 1200px;
    margin-bottom: 64px;
}
.title-shop {
  text-align: center;
  margin: 64px auto 5px auto;
  font-size: 20px;
  font-family: osbold, sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}
.title-shop::after {
  content: " ";
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 10px auto 25px auto;
  border-bottom: 3px solid #e1d9bd;
}
.shops {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: no-wrap;
  margin-left: 260px;
}
.shop {
  position: relative;
  box-sizing: border-box;
  margin-right: 20px;
}


.shop-img {
  object-fit: contain;
  padding: 0 25px;
  position: relative;
  z-index: 0;
}
.shop-text {
  width: 100%;
  padding: 55px 25px 25px;
  margin-top: -30px;
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 1;
  
}
.product-title {
  font-family: open-sans-bold, sans-serif;
  line-height: 24px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0;
  margin-top: 0;
}
.product-description {
  font-size: 15px;
  font-family: open-sans-regular, sans-serif;
  line-height: 22px;
  color: #0f0d0e;
  margin-top: 0;
}
.shop-link {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: #b59f5b;
}
.product-footer {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-old {
  text-decoration: line-through;
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 14px;
}
.product-price-value {
  font-family: open-sans-bold, sans-serif;
}
.product-rub {
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  font-size: inherit;
}

.product-btn {
  height: 50px;
  width: 141px;
  border: none;
  background-color: #b59f5b;
  font-family: osbold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.product-btn:hover, .product-btn:focus {
  background-color: #323232;
  cursor: pointer;
}
.footer {  
  margin-top: 60px;
}

.footer-address {
  margin-bottom: 20px;
  background-color:#f4f7f6;
  padding: 30px 0;
}

.footer-list {
  list-style:none;
  display: flex;
  justify-content: center;  
}

.footer-wrapper {
  width:1200px;
  margin: auto;
  padding: 0 15px;
}

.social-icon {
  display: block;
  width:20px;
  height:20px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  padding:30px 15px;
}

.social-icon_twitter {  
  background-image: url(../svg/004-twitter.svg);
}

.social-icon_pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-icon_facebook {background-image: url(../svg/002-facebook-logo.svg);
}
.social-icon_instagram {
  background-image: url(../svg/005-instagram.svg);
}

.social-icon_tumblr {
  background-image: url(/svg/003-tumblr.svg);
}

.copyright {
  text-decoration: none;
  color:#999999;
  font-family: open-sans-bold, sans-serif;
  font-size: 12px;
  text-align: center;
}